.base-container{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        font-size: 24px;
        font-family: "Open Sans",sans-serif;
        
    }

}